<!--<nav  class="navbar ">
  
  
    <a href="/" class="pull-left visible-md visible-lg visible-sm">
      <h3>News24X7</h3>



 

    <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/sports" class="nav-link px-2 link-secondary">Sports</a></li>
      <li><a href="/aboutus" class="nav-link px-2 link-secondary">About Us</a></li>
      <li><a href="/contactus" class="nav-link px-2 link-secondary">Contact Us</a></li>
      <li><a href="/admin/editNews" class="nav-link px-2 link-secondary">Edit News</a></li>
      <li><a href="/admin/logout" class="nav-link px-2 link-secondary">Logout</a></li>
    </ul>-->



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">News 24X7</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="/" class="nav-link px-2 link-secondary">Home</a>
          </li>
          <li class="nav-item">
            <a href="/sports" class="nav-link px-2 link-secondary">Sports</a>
          </li>
          <li class="nav-item">
            <li><a href="/aboutus" class="nav-link px-2 link-secondary">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/contactus" class="nav-link px-2 link-secondary">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>