

<html ang="en">


    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" href="aboutus_styles.css">

        <!-- jQuery needs to be placed before bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
        <!-- Bootstrap Start -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Bootstrap End -->
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
    
    <!--Section-->
    <section class="section pb-5" style="margin: 5%;">

        <div class="row">
      
          <!--Grid column-->
          <div class="col-lg-7">
            <div id="map-container-google-11" class="z-depth-1-half map-container-6">
                <iframe src="https://maps.google.com/maps?q=plano&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            
            <div class="row text-center">
              <div class="col-md-4">
                <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
                <p>Plano, TX 75093</p>
              </div>
            </div>
            
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-5 mb-4">
                <!-- Card -->
                <div class="card">
                  <div class="card-body">
                    <!--Header-->
                    <div class="form-header blue accent-1">
                      <h3>
                        OUR MISSION
                      </h3>
                    </div>
          
                    <p>
                        Part of our mission is to expose the local developer community to the process of contributing 
                        to free and open source software (FOSS), regardless of their development experience. We provide 
                        our members with a friendly workspace to work, learn and connect with other developers and 
                        ndustry professionals. By leveraging open source software, our members can develop their skills 
                        in various technologies while rubbing elbows with working industry professionals. Industry 
                        professionals that volunteer to speak in our meetups help build stronger communities by sharing 
                        their experience in the industry and with the technology they use every day; they give back to 
                        their communities.
                    </p>
                
                    <!--Body-->
                  </div>
                </div>
                <!-- Card -->
              </div>
              <!--Grid column-->
        </div>
      </section>
      <!--Section-->
        
    </body>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>